<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="icons/valorant.ico" type="image/x-icon">
    <title>VALORANT API</title>
</head>
<body>
    <div class="lg:w-[1500px] lg:mx-auto">
        <a href="/"><h1 class="text-3xl text-center lg:text-left page-title my-[20px] lg:mx-[50px] lg:text-5xl">VALORANT<span class="text-white">API</span></h1></a>

        <div class="lg:mx-10 lg:inline-block flex justify-center">
            <form action="/searchCharacter/gekko" method="get">
                <button class="mx-auto bg-[#191925] border-2 border-[#242434] hover:border-2 hover:border-[#FD4556] rounded-lg p-2" type="submit">Search Agent</button>
            </form>
        </div>

        <div class="mx-auto grid grid-cols-1 lg:grid-cols-3 lg:mx-10 lg:gap-10 lg:my-5">
            <%- include("partials/character.ejs"); %>
        </div>
    </div>
</body>
</html>